<!doctype html>
<html>
    <head>
        <title>Spectral View</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ static_url('favicon.ico') }}">
        {% block head %}{% end %}
    </head>
    <body>
        <header>
            <h1><a href="{{ reverse_url('index') }}">Spectral View</a></h1>
            <nav>
                {% if not current_user %}
                <a href="{{ reverse_url('login') }}">login</a>
                {% else %}
                <a href="{{ reverse_url('logout') }}">logout</a>
                {% end %}
            </nav>
        </header>
        <section>
            {% block body %}{% end %}
        </section>
    </body>
</html>
