{% extends base.html %}

{% block head %}
<style>
button:focus { 
    background-color: black;
    color: white;
}
</style>
{% end %}

{% block body %}
<h2>{{spectrum['name']}}</h2>

{% include vizualization.html %}

<form action="{{reverse_url('classify')}}" method="post">
    {% module xsrf_form_html() %}
    <input type="hidden" name="ident" value="{{spectrum['_id']}}">
    {% for category in sorted(classes) %}
        <button name="label" value="{{category}}" autofocus>{{category}}</button>
    {% end %}
</form>
{% end %}
