{% extends "base.html" %}

{% block head %}
<script src="http://d3js.org/d3.v4.min.js"></script>
<style>
.bar {
    fill: steelblue;
}

.axis text {
    font: 10px sans-serif;
}
</style>
{% end %}

{% block body %}
<h2>Ondřejov CCD700 Archive Classification Tool</h2>
<svg class="chart"></svg>
<script type="text/javascript">
var data = {% raw counts %}

var margin = {top: 20, right: 30, bottom: 30, left: 40},
    width = 600 - margin.left - margin.right,
    height = 450 - margin.top - margin.bottom;

var x = d3.scaleBand().rangeRound([0, width]).padding(0.1),
    y = d3.scaleLinear().rangeRound([height, 0]);

var chart = d3.select(".chart")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + ", " + margin.top + ")");

x.domain(data.map(function(d) { return d.name; }));
y.domain([0, d3.max(data, function(d) { return d.value; })]);

chart.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0, " + height + ")")
    .call(d3.axisBottom(x));

chart.append("g")
    .attr("class", "y axis")
    .call(d3.axisLeft(y));

chart.selectAll(".bar")
    .data(data)
    .enter()
    .append("rect")
    .attr("class", "bar")
    .attr("x", function(d) { return x(d.name); })
    .attr("y", function(d) { return y(d.value); })
    .attr("width", x.bandwidth())
    .attr("height", function(d) { return height - y(d.value) });
</script>
{% end %}
