{% extends base.html %}

{% block body %}
<h2>{{spectrum['name']}}</h2>

<ul>
    <li><b>label:</b> {{inv_classes[spectrum['label']]}}</li>
    <li><b>public-id:</b> {{spectrum['ident']}}</li>
    <li><b>wavelength min:</b> {{spectrum['wave'][0]}}</li>
    <li><b>wavelength max:</b> {{spectrum['wave'][-1]}}</li>
</ul>

{% include vizualization.html %}

<form action="{{reverse_url('spectrum', spectrum['_id'])}}" method="post">
    {% module xsrf_form_html() %}
    {% for category in sorted(classes) %}
        <button name="label" value="{{category}}" autofocus>{{category}}</button>
    {% end %}
</form>
{% end %}
