{% extends base.html %}

{% block body %}
<h2>{{ spectrum['name'] }}</h2>

<p>label: {{ spectrum['label'] }}</p>

<svg id="spectrum"></svg>

<form action="{{ reverse_url('spectrum', spectrum['_id']) }}" method="post">
    {% module xsrf_form_html() %}
    <button name="label" value="absorption" autofocus>absorption</button>
    <button name="label" value="emission">emission</button>
    <button name="label" value="unknown">unknown</button>
</form>

<script type="text/javascript">
d3.json("{{ reverse_url('api_spectrum', spectrum['_id']) }}", function(data) {
    d3.select("#spectrum")
        .datum(data)
        .call(lineChart().height(400).width(600));
});
</script>
{% end %}
