{% extends base.html %}

{% block body %}
<h2>{{ spectrum['name'] }}</h2>

<p>label: {{ inv_classes[spectrum['label']] }}</p>

<svg id="spectrum"></svg>

<form action="{{ reverse_url('spectrum', spectrum['_id']) }}" method="post">
    {% module xsrf_form_html() %}
    {% for c in classes %}
        <button name="label" value="{{ c }}" autofocus>{{ c }}</button>
    {% end %}
</form>

<script type="text/javascript">
d3.json("{{ reverse_url('api_spectrum', spectrum['_id']) }}", function(data) {
    d3.select("#spectrum")
        .datum(data)
        .call(lineChart().height(400).width(600));
});
</script>
{% end %}
