<svg id="convolved"></svg>
<svg id="halpha"></svg>
<svg id="spectrum"></svg>
 
<script type="text/javascript">
d3.json("{{reverse_url('api_spectrum', spectrum['_id'], 'all')}}",
    function(data) {
        d3.select("#spectrum")
            .datum(data)
            .call(lineChart().height(300).width(400));
});

d3.json("{{reverse_url('api_spectrum', spectrum['_id'], 'halpha')}}",
    function(data) {
        d3.select("#halpha")
            .datum(data)
            .call(lineChart().height(300).width(400));
});

d3.json("{{reverse_url('api_spectrum', spectrum['_id'], 'convolved')}}",
    function(data) {
        d3.select("#convolved")
            .datum(data)
            .call(lineChart().height(300).width(400));
});
</script>
